.azure
venv/*
media/* 
.env
.venv/*
# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
/dist/
staticfiles/*
build/
*.pyc

# Virtual Environment
.venv
env/
ENV/

# VSCode
.vscode/
*.code-workspace
.history/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Exclude all files inside media directory
media/*
city_directory/media/*
# But keep the media directory itself
!media/.gitkeep

# SQLite database files
*.sqlite3
*.db
*.sqlite3-shm
*.sqlite3-wal
