Django==5.1.2
django-allauth
django-crispy-forms
django-extensions
django-debug-toolbar
spider_rs
asyncio
slugify
granian
whitenoise
beautifulsoup4
requests
requests-cache
django-tailwind
openai
python-dotenv
django-cotton