<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="StaticFile" path="/media/*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Media Files" stopProcessing="true">
          <match url="^media/(.*)$" />
          <action type="Rewrite" url="/home/persistent/media/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration> 