{% load static %}
{% load tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}NachoPR: Media Database for Digital PR{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description" content="{% block meta_description %}NachoPR: Media Database for Digital PR{% endblock %}">
		<script src="{% static 'js/htmx.min.js' %}" defer></script>
		<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" defer>
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin defer>
		<!--<link href="https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" defer rel="stylesheet">-->
		<link rel="icon" type="image/x-icon" href="{% static 'img/logo.avif' %}">
		{% tailwind_preload_css %}
		{% tailwind_css %}
		<!-- Open Graph meta tags -->
		<meta property="og:title" content="NachoPR: Connect with Journalists, Get Links" />
		<meta property="og:description" content="Connect with journalists and secure media coverage, high authority backlinks, and more, for your digital PR strategy." />
		<meta property="og:image" content="https://nachopr.com{% static 'img/social_share.png' %}" />
		<meta property="og:type" content="website" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:creator" content="@innermaps" />
		<meta property="og:site_name" content="NachoPR" />
		{% block head_extra %}{% endblock %}
	</head>

	<body class="bg-gray-50 font-sans-serif leading-normal tracking-normal">
		{% block content %}
		
		{% endblock %}

		{% block extra_scripts %}{% endblock %}
		
	</body>
</html>
