{% extends "base.html" %}

{% block content %}
    <!-- Open Graph meta tags -->
    <meta property="og:title" content="NachoPR - Connect with Journalists" />
    <meta property="og:description" content="Connect with journalists and secure media coverage, high authority backlinks, and more, for your digital PR strategy." />
    <meta property="og:image" content="{% static 'img/social_share.png' %}" />
    <meta property="og:type" content="website" />

    {% include 'core/navbar.html' %}

    {% block main %}
    {% endblock %}


    {% include 'core/footer.html' %}
<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer></script>
{% endblock %}