{% extends 'app_base.html' %}

{% block main %}
<div class="w-full border-slate-200 rounded border-2 p-4 bg-white">
    <h1 class="text-2xl mb-4">Getting started checklist</h1>
    <ul class="space-y-2">
        <li>Do your first journalist search</li>
        <li>Create a list of saved journalists</li>
        <li>Save journalists to your list</li>
        <li>Get a journalist's email</li>
        <li>Export your list as a csv to import into your email sending app</li>
    </ul>
</div>

<div class="flex">
    <div>

    </div>

    <div>

    </div>
</div>
{% endblock %}
