{% extends "app_base.html" %}

{% block main %}

<div class="w-full border-slate-200 rounded border-2 p-4 bg-white">
<h1 class="text-2xl mb-2">Saved lists</h1>

{% if lists %}
{% for list in lists %}
<p><a class="border-b border-blue-300" href="{% url 'single_saved_list' list.id %}">{{list.name}}</a></p>
{% endfor %}

{% else %}

<p class="mb-2">You haven't saved any lists yet.</p>
<p>To create your first list, search for journalists and then select journalists to save.</p>
{% endif %}
</div>

{% endblock %}